/* YELLOW GOLD */

/* make main section header yellow gold  */
#header16-1f {
  background-color: #eebe4f;
}
/* make footers yellow gold  */
#footer7-1j, #footer7-1y, #footer7-1ddd {
  background-color: #eebe4f;
}

/* make section header font yellow gold  */
#ineedthisyellow {
  color: #eebe4f;
}






/* ACQUA GREEN  */

/* make main section header acqua green  */
#header16-1fgreen {
  background-color: #6aa184;
}
/* make footers acqua green  */
#footer7-1jgreen {
  background-color: #6aa184;
}

/* make section header font acqua green */
#ineedthisgreen {
  color: #6aa184;
}


/* RED  */

/* make main section header acqua green  */
#header16-1fred {
  background-color: #aa2428;
}
/* make footers acqua green  */
#footer7-1jred {
  background-color: #aa2428;
}

/* make section header font acqua green */
#ineedthisred {
  color: #aa2428;
}




/* PINK  */

/* make main section header acqua green  */
#header16-1fpink {
  background-color: #fe8e7c;
}
/* make footers acqua green  */
#footer7-1jpink {
  background-color: #fe8e7c;
}

/* make section header font acqua green */
#ineedthispink {
  color: #fe8e7c;
}




/* LIGHT BLUE  */

/* make main section header acqua green  */
#header16-1flblue {
  background-color: #80b2ce;
}
/* make footers acqua green  */
#footer7-1jlblue {
  background-color: #80b2ce;
}




/* GREY  */

/* make main section header acqua green  */
#header16-1fgrey {
  background-color: #767676;
}
/* make footers acqua green  */
#footer7-1jgrey {
  background-color: #767676;
}
